{% extends "network/layout.html" %}

{% block css %}
{% load static %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="register">
        <!-- <img src="{% static 'images/road.gif' %}" alt="register image" class="register__img"> -->

        <form action="{% url 'register' %}" method="post" class="container">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
        
            {% csrf_token %}
        <h1 class="register__title">Register</h1>

        <div class="register__content">
            <div class="register__box">
                <i class="ri-user-3-line register__icon"></i>

                <div class="register__box-input">
                    <input required class="register__input" id="register-username" type="text" name="username" placeholder="">
                    <label for="register-username" class="register__label">Username</label>
                </div>
            </div>

            <div class="register__box">
                <i class="ri-user-3-line register__icon"></i>

                <div class="register__box-input">
                    <input required class="register__input" id="register-email" type="text" name="email" placeholder="">
                    <label for="register-email" class="register__label">Email</label>
                </div>
            </div>

            <div class="register__box">
                <i class="ri-lock-2-line register__icon"></i>

                <div class="register__box-input">
                    <input type="password" required class="register__input" id="register-pass" name="password" placeholder="">
                    <label for="register-pass" class="register__label">Password</label>
                    <i class="ri-eye-off-line register__eye" id="register-eye"></i>
                </div>
            </div>

            <div class="register__box">
                <i class="ri-lock-2-line register__icon"></i>

                <div class="register__box-input">
                    <input type="password" required class="register__input" id="register-pass-confr" name="confirmation" placeholder="">
                    <label for="register-pass-confr" class="register__label">Confirm Password</label>
                    <i class="ri-eye-off-line register__eye" id="register-eye"></i>
                </div>
            </div>
        </div>

        <input class="register__button" type="submit" value="register">

        <p class="register__register">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>
        </form>
    </div>

{% endblock %}